/* Estilos Generales */
* {
    margin:0; 
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import "_nav";
@import "_variables";

/* Estilos a Nosotros */
.nosotros-css {
    background-color: $color-general;
    color: #f2eff5;
    font-size: large;
    font-family: 'Libre Bodoni', serif
}

/* Estilos en mi Header en Home */  

.home-header  {
        div {
    background-color: $color-general;
    background-size:auto;
    background-repeat:no-repeat;
    background-position:100px;
        h1 {
    color:#f2eff5;
     background-color: #c50606;
    font-size: 60px;
    font-weight:bold;
    font-family:'Send Flowers';
    text-align: center;
     img {
        object-fit:contain;
         height: 100%;
          width: 100%;
}}}}


/* Estilos en mi Main home */
.mensaje-inicial {
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 200;
    padding: 10px 25px;
    background-color: $color-general;
    color:#f2eff5;

    span{
    font-size: 30px;
    font-family:'Send Flowers' ;
    padding-left: 15px;
    padding-right: 15px;
}}

.seccion-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $color-general;
    padding: 20px ;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;

.embed-container {
    width: 100%;
    height: 100%;
    
    

    .container {
    top:0;
    left: 0;
    width: 100%;
    border: 0;
}}}

.video {
    position: relative;
    width: 100%;
    
.player {
    top:0;
    left: 0;
    width: 100%;
    border: 0; 
    
}}

.formulario {
    width: 200px;
    margin: auto;
    background-color: $color-general;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 12px;
}


/* Estilos a mi Footer */
.pie-de-pagina {
    width:100%;
    background-color: #c50606;

     .grupo-1 {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0;

            h2 {
        color: #f2eff5;
        margin-bottom: 25px;
        font-size: 20px;

            }}}
    .pie-de-pagina{
    
        .grupo-1 {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            color: #f2eff5;
        
            img {
            width: 150px;
    
    .red-social a {
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: black !important;
        margin-right: 10px;
        background-color: $color-general;
        text-align: center;
        transition: all 300ms ease-in-out;
    
    &:hover {
        color: #070707;
    }
    }}}}


.pie-de-pagina .grupo-2 {
    background-color: $color-general;
    padding: 15px 10px;
    text-align: center;
    color: #f2eff5;

 small {
    font-size: 15px;

 }}

/* Trabajo en Galeria */
.grid-galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 5px;
    padding: 5px;
    grid-auto-flow: dense;
    background-color: $color-general;
    }
    
.galeria--grid {
    width: 100%;
    height:100%;
    object-fit: cover;
}

.grid-items {
    display: flex;
    align-items: center;
    justify-content: center;
    

    border-radius: 3px;
    transition: transform 0.3s ease-in-out;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
&:hover {
    filter:opacity(0.9);
    transform: scale(1.04);

&:nth-child(4) {
    grid-column-start: span 2;
}}}

/* Trabajo en Viandas */
.menu-vianda {
    background-color: $color-general;
    color: #f2eff5;
    font-size: 15px;
 
}
.galeria-vianda{
    display: block;
    margin:10px auto;
}

.foto-vianda {
    width: 30%;
    align-self: center;
}
.light {
    width: 100%;
    height: 50%;
}



@media screen and (min-width: 768px) { 
    .pie-de-pagina .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0;
}
.seccion-2 {
    display: grid;
    grid-template-rows: 100% 100%;
    background-color: $color-general;
    

}}

